html, body {
  height: 100%; /* Ujistíme se, že oba elementy pokrývají 100% výšky dokumentu */
  margin: 0; /* Odstraníme výchozí okraje */
  padding: 0; /* Odstraníme výchozí odsazení */
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  background-attachment: fixed; /* Zajistí, že gradient zůstane na místě při scrollování */
  background-size: cover; /* Zajistí pokrytí celé stránky */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #919ece;
  --secondary-color: #4e5a8c;
}

body {
  overflow-x: hidden;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 600px); /* Zohlednění marginy, aby se obsah neodsunul mimo viewport */
  margin: 300px auto; /* Středová pozice obsahu s dostatečnou mezerou nahoře a dole */
  position: relative;
}

.animated-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 200px;
  height: 60px;
  padding: 16px 36px;
  border: 4px solid transparent;
  font-size: 16px;
  font-weight: 600;
  background-color: #223175; /* Tmavě modrá pro lepší kontrast */
  border-radius: 100px;
  color: #ffffff; /* Zajištění, že text bude bílý a čitelný */
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4); /* Zlepšení stínu pro viditelnost */
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
}

.animated-button svg {
  width: 24px;
  fill: #ffffff; /* Změna barvy ikony na bílou */
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  position: absolute;
  right: 16px;
}

.animated-button .arr-2 {
  position: absolute;
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #223175; /* Bílé pozadí pro kruh */
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.6); /* Zvýšený efekt stínu */
  color: #ffffff;
  border-radius: 12px;
  background-color: #4e5a8c; /* Světlejší odstín při najetí myší */
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #ffffff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(0, 0, 0);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.card {
  background-color: rgba(4, 14, 71, 0.9); /* Poloprůhledný pozadí, aby obrázek zůstal viditelný */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 20%; /* Flexibilní šířka */
  height: auto;
  text-align: left;
  position: fixed;
  left: 30px;
  bottom: 30px;
  overflow: auto; /* Zajištění scrollování při příliš velkém obsahu */
  transition: transform 0.3s ease;
  z-index: 2;
}

.card:hover {
  transform: scale(1.04);
}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.6; /* Zlepšení čitelnosti delšího textu */
}


/* Základní styly pro navigační panel */
nav {
  position: absolute;
  width: 100%;
  height: 102px; /* Pevná výška pro lepší vertikální zarovnání */
  overflow: visible;
  background-color: #4e5a8c;
  display: flex;
  justify-content: flex-end; /* Zarovnání navigace doprava */
  align-items: center; /* Vertikální centrování obsahu */
  padding-right: 20px; /* Přidání odsazení doprava */
  top: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  display: flex;
  gap: 15px;
}

li {
  position: relative;
}

li a {
  text-decoration: none;
  font-weight: 700;
  color: #040e47;
  font-size: 18px;
  margin-top: -50px;
  padding: 12px 15px; /* Zvýšení vertikálního paddingu pro centrování textu */
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  display: block;
  line-height: 26px; /* Nastavení stejné výšky jako výška odkazu pro vertikální zarovnání */
}


.line-container2 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #040e47;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

li:hover .line-container2 {
  width: 100%;
}

@media (min-width: 768px) {
  li a {
    font-size: 20px;
    padding: 15px 20px;
  }
}


.hlava {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #040e47;
  color: #ffffff;
  padding: 8px 12px;
}

.kontakt {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-map {
  width: 30%;
  height: 300px;
  border: 0;
  border-radius: 10px;
  margin-top: 20px; /* Added spacing between the heading and the map */
}

.logo {
  position: absolute;
  height: 50px; /* Nastavte požadovanou výšku */
  width: auto; /* Automaticky upraví šířku podle výšky */
  left: 10px; /* Posunutí od levého okraje */
  top: 10px; /* Posunutí od horního okraje */
  z-index: 2; 
  background-color: transparent; /* Přidání transparentního pozadí */
  padding: 5px; /* Možná budete potřebovat přidat trochu paddingu, aby logo nebylo přilepené na okraj */
}
  
.logo img {
  max-height: 140%; /* Obrázek se přizpůsobí kontejneru */
  width: auto; /* Zachová poměr stran */
  border: none;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.image-gallery div {
  flex: 1;
  text-align: center;
  margin: 0 20px;
}

.image-gallery img {
  width: 60%;
  height: auto;
  border: 2px solid #223175;
  border-radius: 15px;
}

img:hover {
  cursor:pointer;
}

/* Styl pro modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 900px;
}

.close {
  position: absolute;
  top: 60px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.central-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(4, 14, 71, 0.8); /* Poloprůhledné pozadí */
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.central-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.central-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.central-content button {
  background-color: #040e47;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;  cursor: pointer;
  transition: background-color 0.3s ease;
}

.central-content button:hover {
  background-color: #223175;
}
.text{
  color: #223175;
  font-size: 36px;
  z-index: 1;
 text-align: center;
}
.sluzby {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
}

.karta-sluzby {
  flex: 1;
  max-width: 350px;
  background-color:#223175;
  border: 1px solid #223175;
  border-radius: 4px;
  padding: 20px;
  margin: 0 10px;
  box-sizing: border-box;
  height: auto;
  width: auto;
  transition: transform 0.3s ease;
}

.karta-sluzby:hover {
  transform: scale(1.05);
}

.karta-sluzby h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.karta-sluzby p {
  font-size: 14px;
}

.karta-sluzby:first-child {
  margin-left: 0;
}

.karta-sluzby:last-child {
  margin-right: 0;
}

.sluzby2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  height: 300px;
  width: auto;
}

.deskripce {
  font-family: Tahoma;
  color: #fff;
  font-size: 1.2rem !important;
}

.nadpis {
  color: #fff;
  font-size: 1.5rem !important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: -500px;
}
footer a {
  position: relative;
  font-weight: 700;
}
